name: Clang Format

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    
jobs:
  lua_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.11
        with:
          source: "./cpp"
          exclude: "./cpp/discord-rpc ./cpp/gmod-module-base"
          extensions: "h,cpp"